*{
	font-family: 'Montserrat', sans-serff;
	box-sizing: border-box;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

html,body{
	height: 100%;
}

header{
	text-align: center;
	background-color: #E7E8E9;
	opacity: 1;
	padding-bottom: 0px;
	padding-top: 30px;
}
header h1{
	font-size: 3em;
}

/*NAV BAR STYLING */
nav{
	margin-top: 30px;
}
nav .container-4{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 75px;
}

nav .container-4 div{
	align-self: center;
	background-color: #FFFFFF;
}

nav a{
	color:#000;
	text-decoration: none;
}

nav .name{
	top: 21%;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	opacity: 0.9;
}

nav .name:hover{
	cursor: pointer;
}

#Blue:hover{
	background: #BBC7D3;
}

#Fire:hover{
	background: #FBA994;
}

#Noble:hover{
	background: #AFABAA;
}

#Alpha:hover{
	background: #F5E57F;
}

/*END OF NAV BAR STYLING */


/*FOOTER STUFF*/
footer{
	text-align: center;
	background-color: #E7E8E9;
	opacity: 1;
	padding-bottom: 50px;
	padding-top: 50px;
}

footer a{
	text-decoration: none;
	color: black;
}

footer a:hover{
	color: #236485;
}

footer span{
	margin-left: 20%;
}
/*END OF FOOTER STUFF */

.margin{
	
}

.information{
	background-color:#E7E8E9;
	opacity: 0.8;
	margin-bottom: 100px;
}

.container-4{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 550px;
}

.container-6{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 550px 550px;
}


/*SPARTAN NAMES UNDER PICTURE*/
.name{
	position: relative;
	top: 89.3%;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #E7E8E9;
	opacity: 0.8;
}
.name:hover{
	background-color: #BBC7D3;
	cursor: pointer;
}

.tile{
	text-align: center;
	background-color: #EFF0F1;
}

/*TEAM LOGO HEADER*/
.team-logo {
	position: relative;
	background-color: #E7E8E9;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	opacity: 0.8;
}

.team-logo h2{
	font-size: 2.5em;
}

/*Background Images*/
.sky{
	position: relative;
	opacity: 0.65;
	background: url(https://i.redd.it/cogiia0jmkz11.jpg) no-repeat center fixed;
	background-size: cover;
	min-height: 100%;
}

.reachpic{
	position: relative;
	opacity: 0.65;
	background: url(https://i.pinimg.com/originals/f0/c1/70/f0c170aa212e628a22dba9e43fa814f3.jpg) no-repeat center fixed;
	background-size: cover;
	min-height: 600px;
}

.forerunner{
	opacity: 0.65;
	background: url(https://images2.alphacoders.com/783/thumb-1920-783750.jpg) no-repeat center fixed;
	background-size: cover;
	min-height: 600px;
}

.odst{
	opacity: 0.65;
	background: url(https://i.pinimg.com/originals/7c/b3/9b/7cb39b696fae4e025a215dd005342f43.jpg) no-repeat center fixed;
	background-size: cover;
	min-height: 600px;
}

.ringpic{
	position: relative;
	opacity: 0.65;
	background: url(https://wallpaperaccess.com/full/897502.png) no-repeat center fixed;
	background-size: cover;
	min-height: 600px;
}

.caption{
	position: absolute;
	top: 50%;
	width: 100%;
	padding: 0px;
	text-align: center;
	font-size: 1.1em;
}

/*span border in sky container*/
.caption span{
	padding: 20px;
	border: 2px solid white;
	color:white;
	background: black;
}

/*END OF BACKGROUND PICS*/

/*SPARTAN PICTURES*/
/*BLUE TEAM*/
#John-117{
	background: url(pics/John-117.jpg) center;
	background-size: cover;
}

#Kelly-087{
	background: url(pics/Kelly-087.jpg) center;	
	background-size: cover;
}

#Frederic-104{
	background: url(pics/Frederic-104.jpg) center;
	background-size: cover;
}

#Linda-058{
	background: url(pics/Linda-058.jpg) center;
	background-size: cover;
}

/*FIRETEAM OSIRIS*/
#Jameson-Locke{
	background: url(pics/locke.jpg) center;
	/*url(https://i.pinimg.com/originals/13/b9/45/13b94562243ce05bae8ef19b774ae895.jpg) center;*/
	background-size: cover;
}

#Edward-Buck{
	background: url(pics/Buck.jpg) center;	
	background-size: cover;
}

#Holly-Tanaka{
	background: url(pics/tanaka.jpg) center;
	background-size: cover;
}

#Olympia-Vale{
	background: url(https://images.hdqwalls.com/download/vale-halo-5-guardians-1600x1200.jpg) center;
	background-size: cover;
}

/*Noble Team*/
#Carter-A259{
	background: url(https://halo.bungie.net/Stats/Reach/Screenshot.ashx?fid=4E56440904C9250B29DD36CA31E2ECA2&size=full) center;
	background-size: cover;
}

#Catherine-B320{
	background: url(https://images.squarespace-cdn.com/content/v1/58e1668c2e69cfd46ac3028a/1543513133106-KP4RTD9V731QN8MVHM8I/ke17ZwdGBToddI8pDm48kImwWZxDjA50ZMQy6nGqIskUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcGQVF82O6mhqli_KUHGt8DU8NSaE860t1MNPR9zsxwQPoeX6PGV9p23Jo0OkaM7uH/Kat-B320) center;
	background-size: cover;

}

#Jun-A226{
	background: url(https://content.halocdn.com/media/Default/encyclopedia/characters/jun-a266/jun-a266-square-542x542-8576226f5a094ca2bcded1b5e2791267.jpg) center;
	background-size: cover;

}

#Emile-A239{
	background: url(https://static.wikia.nocookie.net/halo/images/d/df/Emile_main.png/revision/latest?cb=20100823071838) center;
	background-size: cover;
}

#Jorge-052{
	background: url(https://www.halopedia.org/images/thumb/f/ff/Jorge-052.jpg/723px-Jorge-052.jpg) center;
	background-size: cover;
}

#SPARTAN-B312{
	background: url(https://www.halopedia.org/images/2/2b/B312.png) center;
	background-size: cover;
}

/*Alpha-Nine*/
#Dare{
	background: url(https://content.halocdn.com/media/Default/encyclopedia/characters/veronica-dare/dare-square-542x542-aaa373e7c25b4d17a515e5aecc8d4af2.jpg) center;
	background-size: cover;
}

#Buck{
	background: url(https://news-cdn.softpedia.com/images/news2/Halo-New-Blood-Novel-Revealed-Coming-on-March-2-470945-12.jpg) center;
	background-size: cover;
}

#Dutch{
	background: url(https://static.wikia.nocookie.net/halo/images/3/3d/Dutch.jpg/revision/latest?cb=20100714141838&path-prefix=de) center;
	background-size: cover;
}

#Romeo{
	background: url(https://static.wikia.nocookie.net/halo/images/1/1d/RomeoNoHelm.jpg/revision/latest?cb=20090915142741&path-prefix=ja) center;
	background-size: cover;
}

#Mickey{
	background: url(https://static1.fjcdn.com/comments/Numbmind+used+roll+picturenumbmind+rolled+imagenothing+that+turkey+couldve+done+_54eac8d40397df4ec1635f4382696598.png) center;
	background-size: cover;
}

#Rookie{
	background: url(https://c4.wallpaperflare.com/wallpaper/550/874/327/halo-3-odst-the-rookie-wallpaper-preview.jpg) center;
	background-size: cover;
}

/*EXTRA SMALL DEVICES */
@media(max-width: 576px){
}

/*SMALLER DEVICES*/
@media(max-width: 768px){

	.container-4{
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 300px 300px 300px 300px;
	}

	.container-6{
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 300px 300px 300px 300px 300px 300px;
	}

	/*SPARTAN NAMES UNDER PICTURE*/
	.name{
		position: relative;
		top: 80.3%;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #E7E8E9;
		opacity: 0.8;
	}

}

@media (min-width: 769px) and (max-width: 992px){

	.container-4{		
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 400px 400px;
	}

	.container-6{
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 400px 400px 400px;
	}

	/*SPARTAN NAMES UNDER PICTURE*/
	.name{
		position: relative;
		top: 85.3%;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #E7E8E9;
		opacity: 0.8;
	}

}
