*{
	font-family: 'Montserrat', sans-serff;
	margin: 0;
	padding: 0;
}

body{
	background: url(https://images2.alphacoders.com/949/949049.png) no-repeat center center fixed;
	background-size: cover;
}
header{
	text-align: center;
	background-color: #B6CBDA;
	opacity: 1;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-bottom: 100px;
}

h2{
	background-color: #B6CBDA;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 500px;
	grid-column-gap: 30px;
}

.tile{
	text-align: center;
	background-color: #EFF0F1;
}

.name{
	position: absolute;
	width:1fr;
	background-color: #C6E6FC;
}

.name:hover{
	background-color: #64A8D6;
}


