* {
	box-sizing: border-box;
	font-family: 'Mukta Vaani', sans-serif;
}

body{
	background-color: #F0EFEF;
}

section h2{
	text-align: center;
}

footer{
	padding: 50px 0;
	background-color:white;
	text-align: center;
}

#title h1{
	font-weight: bold;
	font-size: 3.5em;
	margin-bottom: 0;
}

#title p{
	margin-top:0px;
}

#title{
	
	text-align: center;
}

#img-div{
	background-color: white; 
	text-align: center;
}

#img-caption{
	padding-top: 20px;
	padding-bottom: 20px;
}

#image{
	display: block;
	margin: 0 auto;
	padding-top: 40px;
	max-width: 90%;
	height: auto;
}

#tribute-info ul{
	margin: auto;
	max-width: 550px;
	text-align: left;
	line-height: 1.6;
}

#tribute-info li{
	margin-bottom: 16px;
	margin-top: 16px;

}

#tribute-info h1{
	text-align: center;
	margin: 50px auto;
}

.video-responsive{
	text-align: center;
}


