* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(93, 104, 128);
}

.title {
    text-align: center;
    margin: 30px 0;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
}

.cell {
    border-top: 1px solid black;
    border-right: 1px solid black;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    background-color: rgb(158, 204, 206);
}

.displayBoard {
    text-align: center;
}

.playerOption {
    height: 30px;
    margin: 20px 0px;
}

.restart {
    text-align: center;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
}

button:hover {
    background-color: rgb(158, 204, 206);
}
