* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
}

.cell {
    border-top: 1px solid black;
    border-right: 1px solid black;
}