* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-top: 50px;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

tr {
    border-bottom: 1px solid rgb(185, 185, 185);
}

th, td {
    text-align: left;
    padding: 20px 0;
    padding-right: 40px;
    word-wrap: break-word;
}

th:nth-child(1), td:nth-child(1) {
    width:5%;
}

th:nth-child(2), th:nth-child(3), td:nth-child(2), td:nth-child(3) {
    width: 25%;;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

/* Input field styles */
input[type='checkbox'] {
    width: 26px;
    height: 26px;
    padding: 5px;
    border: 1px solid rgb(185, 185, 185);
}

input[type='text'] {
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(185, 185, 185)
}

#title {
    border-radius: 5px;
}

#author {
    border-radius: 5px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.add-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.book-input {
    flex-grow: 1;
    margin-right: 20px;
    height: 48px;
}

#submit {
    margin-right: 0;
}

.btn {
    border: none;
    background-color: rgb(26, 178, 248);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(97, 205, 255);
}

#add {
    position: relative;
    top: 13px;
    width: 100%;
}

/* Book container styles */
.library-container {
    margin-top: 40px;
}

.book-container {
    display: flex;
    margin-top: 50px;
}

.field {
    flex-grow: 1;
}





