*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: linear-gradient(to bottom,rgba(32, 100, 189, 0.6), rgba(32, 100, 189, 0.6)),url(https://wallpaperaccess.com/full/2272466.jpg) no-repeat center fixed;
	background: -moz-linear-gradient(to bottom,rgba(32, 100, 189, 0.6), rgba(32, 100, 189, 0.6)),url(https://wallpaperaccess.com/full/2272466.jpg) no-repeat center fixed;
	background: -o-linear-gradient(to bottom,rgba(32, 100, 189, 0.6), rgba(32, 100, 189, 0.6)),url(https://wallpaperaccess.com/full/2272466.jpg) no-repeat center fixed;
	background: -ms-linear-gradient(to bottom,rgba(32, 100, 189, 0.6), rgba(32, 100, 189, 0.6)),url(https://wallpaperaccess.com/full/2272466.jpg) no-repeat center fixed;
	background: -webkit-linear-gradient(to bottom,rgba(32, 100, 189, 0.6), rgba(32, 100, 189, 0.6)),url(https://wallpaperaccess.com/full/2272466.jpg) no-repeat center fixed;
	background-size: cover;
	color: white;
	font-family: 'Poppins', sans-serif;
}

select{
	color: grey;
}

header{
	margin-bottom: 50px;
}

h2{
	font-size: 1em;
	margin-top: 0;
}

span{
	font-size: 0.8em;
}


input ,select, button, textarea{
	border-radius: 6px;
	border:0;
}

button{
	width: 100%;
	background-color: #2CA65C;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	border: 0;
}

button:hover{
	cursor: pointer;
	background-color: #238349;
}

label{
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;
}

.largerbox{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0.5em;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.form-input{
	width: 100%;
	padding: 0.6em;
}

.form-div h2{
	margin-bottom: 10px;
}

.form-div{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
}

.text{
	width: 100%;
	min-height: 100px;
}
.textarea{
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 5px;
}

.textarea h2{
	margin-bottom: 5px;
}

#title{
	text-align: center;
	margin-bottom: 0;
}

#description{
	text-align: center;
	margin-top: 0;
}

#survey-form{
	border-radius: 6px;
	padding: 25px;
	background: rgba(32, 100, 189, 0.8);
	margin: 0 auto;
	max-width: 700px;
	height: auto;
}
