* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("OF18H90.jpg");
    background-size: contain;
    font-family: 'VT323', monospace;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    background-color: #f3f3f3;
    padding: 20px;
}

.title h1 {
    color: rgb(0, 72, 155);
    font-size: 70px;
}

.grid {
    background-color: #ffffff;
    display: grid;
    margin: 0 auto;
    width: 500px;
    height:500px;
}

/* Control styles */
.tools-container {
    display: flex;
    margin: 20px auto;
    width: 500px;
    justify-content: space-between;
}

.tile {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.colors {
    cursor: pointer;
}

#colorTemplate {
    display: grid;
    width: 250px;
    height: 60px;
    background-color: #FFFFFF;
    margin-right: 10px;
}

#currentColor {
    background-color: black;
}

#toggle-grid {
    cursor: pointer;
    background-color: #FFFFFF;
    text-align: center;
}

#toggle-grid:hover {
    background-color: #c5c4c4;
}

#toggle-grid p{
    margin-top: 12px;
}

#clear-grid {
    cursor: pointer;
    background: url("eraser.jpg");
    background-size: contain;
    margin-right: 0px;
}



