*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c2dfff;
    font-family: 'Poppins', sans-serif;
}

/* Main container styles */


/* Title styles */
.title {
    text-align: center;
    margin: 20px 0px;
    padding: 20px;
}

/* Scoreboard styles */

.score-container {
    background-color: #62AEFF;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.scoreboard {
    display: flex;
    flex-direction: row;
}

.board {
    flex: 1 1 0px;
}

.board h2 {
    display: inline;
}

.score {
    margin-left: 100px;
}

#player {

}

#computer {
  
}

/* Button styles */
.btn-container {
    text-align: center;
}

.btn {
    background-color: #FFFFFF;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    margin: 0px 20px;
    width: 120px;
    height: 100px;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: #D7D7D7;
}

/* Display styles */
.display {
    height: 400px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.choice {
    flex: 1 1 0px;
    text-align: center;
    align-self: center;
}

#display-choice {
    height: 300px;
    display: flex;
}

#display-winner {
    height: 100px;
    border-top: 3px solid #62AEFF;
    margin: 0px 40px;
}