*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D68910;
    font-family: 'Poppins', sans-serif;
}

/* Title styles */
.title {
    text-align: center;
    margin: 20px 0px;
    padding: 40px;
    border-bottom: 3px solid #B9770E;
}

/* Scoreboard styles */
.score-container {
    padding: 10px;
    text-align: center;
}

.scoreboard {
    display: flex;
    flex-direction: row;
}

.board {
    flex: 1 1 0px;
}

.board h2 {
    display: inline;
}

.score {
    margin-left: 100px;
}

/* Button styles */
.btn-container {
    text-align: center;
}

.btn {
    background-color: #D68910;
    cursor: pointer;
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 100px;
}

.btn:hover {
    background-color: #6e1daf;
}

#rock {
    background-image: url("pngs/Rock.png");
    background-size: cover;
}

#paper {
    background-image: url("pngs/Paper.png");
    background-size: cover;
}

#scissors {
    background-image: url("pngs/Scissors.png");
    background-size: cover;
}   

/* Display styles */
.display {
    height: 300px;
    background-color: #99A3A4;
    margin-bottom: 20px;
}

.choice {
    flex: 1 1 0px;
    text-align: center;
    align-self: center;
    font-size: 30px;
}

#display-choice {
    height: 200px;
    display: flex;
}

#display-winner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top: 3px solid #D68910;
    margin: 0px 40px;
    text-align: center;
    font-size: 40px;
}

